@tailwind base;
@tailwind components;
@tailwind utilities;

input{
    border-radius: 12px;
    padding: 4px 8px 4px 8px;
}

button{
    border-radius: 12px;
}

table,th,tr,td{
    border: 2px solid;
}

.main-page{
    padding: 40px;
    max-height: 100%;
}

@media only screen and (max-width: 600px) {
    .main-page{
        padding: 0;
    }
}

html{
    font-size: 100%;
}

@media only screen and (max-width: 600px) {
    html{
        font-size: 75%;
    }
}
